body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#cargando {
    text-align: center;
}

#app {
    text-align: center;
}

h1 {
    color: black;
}

#btnGoogle {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.oculto {
    display: none;
}


.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}


.loader {
    position: relative;
    width: 75px;
    height: 100px;
  }
  
  .loader__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: rgb(0, 0, 0);
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  
  .loader__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
  }
  
  .loader__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
  }
  
  .loader__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
  }
  
  .loader__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
  }
  
  .loader__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
  }
  
  .loader__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgb(44, 143, 255);
    border-radius: 50%;
    -webkit-animation: ball624 4s infinite;
    animation: ball624 4s infinite;
  }
  
  @keyframes ball624 {
    0% {
      transform: translate(0, 0);
    }
  
    5% {
      transform: translate(8px, -14px);
    }
  
    10% {
      transform: translate(15px, -10px);
    }
  
    17% {
      transform: translate(23px, -24px);
    }
  
    20% {
      transform: translate(30px, -20px);
    }
  
    27% {
      transform: translate(38px, -34px);
    }
  
    30% {
      transform: translate(45px, -30px);
    }
  
    37% {
      transform: translate(53px, -44px);
    }
  
    40% {
      transform: translate(60px, -40px);
    }
  
    50% {
      transform: translate(60px, 0);
    }
  
    57% {
      transform: translate(53px, -14px);
    }
  
    60% {
      transform: translate(45px, -10px);
    }
  
    67% {
      transform: translate(37px, -24px);
    }
  
    70% {
      transform: translate(30px, -20px);
    }
  
    77% {
      transform: translate(22px, -34px);
    }
  
    80% {
      transform: translate(15px, -30px);
    }
  
    87% {
      transform: translate(7px, -44px);
    }
  
    90% {
      transform: translate(0, -40px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }
  
  @-webkit-keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @-webkit-keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @-webkit-keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @-webkit-keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @-webkit-keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }

  }
  
  .oculto {
    display: none;
}





.btn-12 {
  display: flex;                
  justify-content: center;     
  align-items: center;          
  text-align: center;         
  width: 100%;                 
  padding: 10px;                
}

.google-logo {
  width: 20px;                  
  height: auto;                
  margin-right: 10px;           
}
.google-link {
  text-decoration: none;  
}


